<p id="notice"><%= notice %></p>
<h1>Produkte</h1>
<table>
<% @products.each do |product| %>
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
<td>
<%= image_tag(product.image_url, class: 'list_image') %>
</td>
<td class="list_description">
<dl>
<dt><%= product.title %></dt>
<dd><%= truncate(strip_tags(product.description), length: 80) %></dd>
</dl>
</td>
<td class="list_actions">
  <ul>
    <li><%= link_to 'Ansehen', product %></li>
    <li><%= link_to 'Editieren', edit_product_path(product) %></li>
    <li><%= link_to 'Löschen', product, method: :delete, data: { confirm: 'Sind Sie sicher?' } %></li>
  </ul>
</td>
</tr>
<% end %>
</table>
<br />
<%= link_to 'Neues Produkt', new_product_path %>